body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    border-radius: 2em;
    opacity: 90%;
}

.grow img{
    transition: 0.5s ease;
}
    
.grow img:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.5s ease;
}