body {
    background-color: black;
}

.card {
    border-radius: 2em;
}

.grow img{
    transition: 0.5s ease;
}
    
.grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s ease;
}
