body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my-card {
    background-color: rgb(50, 50, 50);
    opacity: 0.9;
    border-radius: 2em;
}