body{
    background-image: url("background.webp");
    background-position: center;
    background-size: cover;
    background-position: top;
}
i { 
    transition: all .2s ease-in-out; 
    font-size:x-large;
    color: white;
}
    
i:hover { 
    font-size: xx-large;
    color: white;
}