body{
    background-image: url("../img/background.webp");
    background-position: center;
    background-size: cover;
    background-position: top;
    overflow-y: auto;
    overflow-x: hidden;
}

h1{
    font-weight: bold;
}

.card {
    opacity: 0.9;
}