body{
    background-color: #1e1e2e;
}

h1{
    font-weight: bold;
    color: #cdd6f4;
}

.card {
    background-color: #181825;
}

@media screen and (min-width: 992px) {
    .d-flex {
        height: 100vh;
    }
    
}