<!DOCTYPE html>
<html lang="en"> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="{{ url_for('static', filename = 'fontawesome/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    {% block meta %}{% endblock %}
    <link rel="icon" type="/image/png" href="{{ url_for('static', filename = 'img/favicon.webp') }}">
    <link href="{{ url_for('static', filename = 'css/base.css') }}" rel="stylesheet">
    <meta name="robots" content="index,follow">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card text-center m-2 p-2">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</html>
