{% extends "base.html" %}

{% block meta %}
    <title>{{ name }}</title>
    <meta name="description" content="{{tags}}">
    <link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}  
    <div class="row justify-content-center">
        <h1>{{ name }}</h1>
        <div class="col-10 col-lg-8">
            <div class="p-2">
                <img src="{{ url_for('static', filename = 'img/profile.webp') }}" class="w-100 rounded-circle" alt="{{ name }}">
            </div>
        </div>
        <div>
            <p>
                {{ tags }}
            </p>
            <p>
                {{ description }}
            </p>
            <p> 
                {% for link in links %}
                    <a href="{{ link.url }}" aria-label="{{ link.name }}"><i class="fa-brands {{ link.icon }} fa-2xl p-1 mb-4"></i> </a>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
